<div class="review_replies" style="margin-left:10px">

<p class="review-reply-comment"><span style="color:blue"><%= review_reply.user.email %></span>  <%= review_reply.comment %></p>
<% if user_signed_in? %>
<% if review_reply.user_id == current_user.id %>
<%= link_to 'Edit', edit_book_review_review_reply_path(review_reply.review.book_id,review_reply.review_id,review_reply.id) %> 
<%= link_to 'Delete',book_review_review_reply_path(review_reply.review.book_id,review_reply.review_id,review_reply.id), method: :delete %>
<% end %>
<% end %>
</div>
